body {
     background-color: rgba(255, 247, 232, 0.699);
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.877);
    font-weight: bold;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(187, 107, 3, 0.712);
    letter-spacing: 5px;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
    text-align: center;
    color: rgba(185, 188, 190, 0.877);
}

header {
    background-color: rgba(12, 12, 12, 0.89);
    width: 100%;
}
h3 {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.navbar ul {
    background-color: rgba(110, 106, 104, 0.158);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 0;
}
.navbar a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: 450;
    color: rgba(54, 57, 207, 0.726);
    text-decoration: none;
}
.navbar a:hover {
    color: rgba(6, 171, 221, 0.781);
}
.container-body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}
p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 250%;
    width: 100%;
    padding: 1%; 
}
#p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 40px;
    margin-bottom: -4%;
    font-size: larger;
}
li {
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2,5px;
    margin-top: 20px;
}
ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 35px;
    margin-bottom: 40px;
}
